<div class=oatag-wrapper">

  <div class=oatag-row-wrapper">
    <label for="oatag-cart">Shopping Cart:</label>
    <span id="oatag-cart">{{ cart }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-checkout">Checkout:</label>
    <span id="oatag-checkout">{{ checkout }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-canceled">Canceled:</label>
    <span id="oatag-canceled">{{ canceled }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-bulk">Unapproved Bulk:</label>
    <span id="oatag-bulk">{{ bulk }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-pending">Pending:</label>
    <span id="oatag-pending">{{ pending }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-progress">In Progress:</label>
    <span id="oatag-progress">{{ progress }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-shipping">Ready to Ship:</label>
    <span id="oatag-shipping">{{ shipping }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-completed">Completed:</label>
    <span id="oatag-completed">{{ completed }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-returned">Returned:</label>
    <span id="oatag-returned">{{ returned }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-returned-canceled">Returned and Canceled:</label>
    <span id="oatag-returned-canceled">{{ returned_canceled }}</span>
  </div>


  <div class=oatag-row-wrapper">
    <label for="oatag-total">Total made to site:</label>
    <span id="oatag-total">{{ total }}</span>
  </div>


</div>