{#
/**
 * @file pos_order_status.html.twig
 * Default theme implementation to present Order Status data.
 *
 * This template is used when viewing Order Status pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pos_order_status()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pos_order_status') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
