{#
/**
 * @file pos_products.html.twig
 * Default theme implementation to present Products data.
 *
 * This template is used when viewing Products pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pos_products()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pos_products') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
