{#
/**
 * @file pos_sessions.html.twig
 * Default theme implementation to present Sessions data.
 *
 * This template is used when viewing Sessions pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pos_sessions()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pos_sessions') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
