{#
/**
 * @file pos_historic.html.twig
 * Default theme implementation to present Historic data.
 *
 * This template is used when viewing Historic pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pos_historic()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pos_historic') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
