{#
/**
 * @file pos_shippings.html.twig
 * Default theme implementation to present Shippings data.
 *
 * This template is used when viewing Shippings pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pos_shippings()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pos_shippings') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
