{#
/**
 * @file pos_cart.html.twig
 * Default theme implementation to present Cart data.
 *
 * This template is used when viewing Cart pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pos_cart()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pos_cart') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
