{#
/**
 * @file pos_items.html.twig
 * Default theme implementation to present Items data.
 *
 * This template is used when viewing Items pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pos_items()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pos_items') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
