{#
/**
 * @file pos_reconciliation.html.twig
 * Default theme implementation to present Reconciliation data.
 *
 * This template is used when viewing Reconciliation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pos_reconciliation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pos_reconciliation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
