<table id="customerSearchResults" class="display table-striped">
  <thead>
  <tr>
    <th>Choose</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone</th>
    <th>Extension</th>
  </tr>
  </thead>
  <tbody>
  {% for result in results %}
    <tr>
      <td>{{ result.choose_button }}</td>
      <td>{{ result.email }}</td>
      <td>{{ result.first_name }}</td>
      <td>{{ result.last_name }}</td>
      <td>{{ result.phone }}</td>
      <td>{{ result.phoneext }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

