<div class="publication-wrapper">
  <div class="publication-wrapper-top">
    <div class="publication-wrapper-left">
      <div class="publication-field publication-field-topic">
        {{ publication.topic.link }}
      </div>
      <div class="publication-field publication-field-title">
        {{ publication.title }}
      </div>
      <div class="publication-field publication-field-description">
        {{ publication.description }}
      </div>
    </div>
    <div class="publication-wrapper-right">
      <div class="publication-field publication-field-image">
        <img src="{{ publication.image.url }}" alt="{{ publication.image.alt }}">
      </div>
    </div>
  </div>
  <div class="publication-wrapper-bottom">
    <div class="publication-field publication-field-link-other-language">
      {{ publication.link_other_language | raw }}
    </div>
    <div class="publication-field publication-field-link-other-language">
      {{ publication.link_document | raw }}
    </div>
    <div class="publication-field publication-field-link-other-language">
      {{ publication.link_paper_copy | raw }}
    </div>
  </div>
</div>
