<div div="complete-order-wrapper">

  {# Order Number #}
  <label for="order-number">Order</label>
  <div id="order-number">
    {{ order.id }}
  </div>

  <hr />

  {# Order info at the top #}


  <div class="order-top-info-wrapper">

    <div class="order-field-wrapper">
      <label for="order-status">Status:</label>
      <div id="order-status" class="order-field">
        {{ order.status }}
      </div>
    </div>

    <div class="order-field-wrapper">
      <label for="order-caller-language">Call Center:</label>
      <div id="order-caller-language" class="order-field">
        {{ order.caller_language }}
      </div>
    </div>

    <div class="order-field-wrapper">
      <label for="order-call-center">Call Center:</label>
      <div id="order-call-center" class="order-field">
        {{ order.call_center }}
      </div>
    </div>

    <div class="order-field-wrapper">
      <label for="order-how-received">How Received:</label>
      <div id="order-how-received" class="order-field">
        {{ order.how_received }}
      </div>
    </div>

    <div class="order-field-wrapper">
      <label for="order-how-heard">How Heard:</label>
      <div id="order-how-heard" class="order-field">
        {{ order.how_heard }}
      </div>
    </div>

    <div class="order-field-wrapper">
      <label for="order-job-title">Job Title:</label>
      <div id="order-job-title" class="order-field">
        {{ order.job_title }}
      </div>
    </div>

    <div class="order-field-wrapper">
      <label for="order-organization-type">Organization Type:</label>
      <div id="order-organization-type" class="order-field">
        {{ order.organization_type }}
      </div>
    </div>

    <div class="order-field-wrapper">
      <label for="order-created">Created:</label>
      <div id="order-created" class="order-field">
        {{ order.created }}
      </div>
    </div>

    <div class="order-field-wrapper">
      <label for="order-changed">Changed:</label>
      <div id="order-changed" class="order-field">
        {{ order.changed }}
      </div>
    </div>

  </div>

  <hr />

  {# Order Items #}

  {% set itemCounter = 0 %}

  <div class="order-items-wrapper">

    <h2>Items</h2>

    <table id="order-items" class="table-striped">
      <thead>
      <tr>
        <th>Item</th>
        <th>ID</th>
        <th>SKU</th>
        <th>Title</th>
        <th>Quantity</th>
      </tr>
      </thead>
      <tbody>
      {% for item in order.items %}
        {% set itemCounter = itemCounter + 1 %}
        <tr>
          <td>{{ itemCounter }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.sku }}</td>
          <td>{{ item.product.title }}</td>
          <td>{{ item.quantity }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>

  {# Customer profile #}

  {% if order.profile is not empty %}

    <div class="profile-wrapper">

      <h2>Customer Profile</h2>

      <div class="profile-field-wrapper">
        <label for="order-first-name">First name</label>
        <div id="order-first-name" class="profile-field">
          {{ order.profile.first_name }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-last-name">Last name</label>
        <div id="order-last-name" class="profile-field">
          {{ order.profile.last_name }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-honorific">Title</label>
        <div id="order-honorific" class="profile-field">
          {{ order.profile.honorific }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-phone">Phone</label>
        <div id="order-phone" class="profile-field">
          {{ order.profile.phone }}
        </div>
      </div>

      <label for="order-phoneext">Extension</label>
      <div id="order-phoneext" class="profile-field">
        {{ order.profile.phoneext }}
      </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-organization">Organization</label>
        <div id="order-organization" class="profile-field">
          {{ order.profile.organization }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-address-1">Address 1</label>
        <div id="order-address-1" class="profile-field">
          {{ order.profile.address_1 }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-address-2">Address 2</label>
        <div id="order-address-2" class="profile-field">
          {{ order.profile.address_2 }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-city">City</label>
        <div id="order-city" class="profile-field">
          {{ order.profile.city }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-zip">Zip</label>
        <div id="order-zip" class="profile-field">
          {{ order.profile.zip }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-how-heard">How Heard</label>
        <div id="order-how-heard" class="profile-field">
          {{ order.profile.how_heard }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-how-created">Created</label>
        <div id="order-how-created" class="profile-field">
          {{ order.profile.created }}
        </div>
      </div>

      <div class="profile-field-wrapper">
        <label for="order-how-changed">Changed</label>
        <div id="order-how-changed" class="profile-field">
          {{ order.profile.changed }}
        </div>
      </div>

    </div>

  {% endif %}

  <hr />

  {# Shipping address #}

  <div class="shipping-wrapper">

    <h2>Shipping</h2>

    <div class="shipping-field-wrapper">
      <label for="order-first-name">First name</label>
      <div id="order-first-name" class="shipping-field">
        {{ order.shipping.first_name }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-last-name">Last name</label>
      <div id="order-last-name" class="shipping-field">
        {{ order.shipping.last_name }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-honorific">Title</label>
      <div id="order-honorific" class="shipping-field">
        {{ order.shipping.honorific }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-phone">Phone</label>
      <div id="order-phone" class="shipping-field">
        {{ order.shipping.phone }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-organization">Organization</label>
      <div id="order-organization" class="shipping-field">
        {{ order.shipping.organization }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-address-1">Address 1</label>
      <div id="order-address-1" class="shipping-field">
        {{ order.shipping.address_1 }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-address-2">Address 2</label>
      <div id="order-address-2" class="shipping-field">
        {{ order.shipping.address_2 }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-city">City</label>
      <div id="order-city" class="shipping-field">
        {{ order.shipping.city }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-zip">Zip</label>
      <div id="order-zip" class="shipping-field">
        {{ order.shipping.zip }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-how-heard">How Heard</label>
      <div id="order-how-heard" class="shipping-field">
        {{ order.shipping.how_heard }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-how-created">Created</label>
      <div id="order-how-created" class="shipping-field">
        {{ order.shipping.created }}
      </div>
    </div>

    <div class="shipping-field-wrapper">
      <label for="order-how-changed">Changed</label>
      <div id="order-how-changed" class="shipping-field">
        {{ order.shipping.changed }}
      </div>
    </div>

  </div>

  <hr />

  {# Comment #}

  {% if order.historic.comment is not empty %}

    <div class="order-comment-wrapper">

      <h2>Comment</h2>

      <div id="order-comment" class="comment-field">
        {{ order.historic.comment | raw }}
      </div>

    </div>

  {% endif %}

  <hr />

</div>